:root {
    --color-link: #6B4C2B;
    --color-text: #333333;
    --color-white: #FFFFFF;
    --color-title: #EEC37C;
    --color-bg-1: #ffedda;
    --color-bg-2: #A67C52;
    --font-title: '';
    --font-text: '';
}

/****** FOR ALL ******/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: var(--font-text);
}
body {
    background-color: var(--color-bg-1);
}
h1, h2, h3 {
    font-family: var(--font-title);
    margin-bottom: 0;
    margin-top: 0;
    line-height: normal;
}
h1 {
    font-weight: 500;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
}
h2 {
    text-align: center;
    font-size: 40px;
}
h3 {
    font-size: 28px;
    margin-bottom: 16px;
}
.section {
    padding: 30px 20px;
}
.content-section {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    width: 100%;
}
.section-title {
    margin-bottom: 30px;
    text-align: center;
}
a {
    text-decoration: none;
}
.d-none {
    display: none !important;
}

/****** HEADER ******/
/* Nav globale */
.first-nav {
    background: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid var(--color-white);
    padding: 20px;
    position: fixed;
    width: 100%;
}
.first-nav .content-section {
    gap: 28px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.social-medias.social-medias-header {
    flex-wrap: nowrap;
    width: fit-content;
}
.btn-menu {
    color: var(--color-white);
    font-size: 30px;
}
.btn-menu:hover {
    color: var(--color-link);
}

/* Nav mobile */
.nav-mobile {
    display: none;
    position: absolute;
    padding: 20px;
    right: 0;
    top: 75px;
}
.nav-mobile.nav-mobile-active {
    display: inherit;
}
.nav-mobile ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 6px;
    list-style: none;
}
.nav-mobile ul li {
    cursor: pointer;
    background: var(--color-bg-1);
    border: 1px solid var(--color-title);
    border-radius: 20px;
    padding: 6px 12px;
    text-align: center;
    width: 150px;
}
.nav-mobile ul li a {
    color: var(--color-title);
    font-weight: 500;
}
.nav-mobile ul li:hover {
    background: var(--color-title);
    border: 1px solid var(--color-bg-1);
}
.nav-mobile ul li:hover a {
    color: var(--color-bg-1);
}

/* Nav desktop */
.nav-desktop {
    display: none;
}

/****** MAIN ******/

/****** FOOTER ******/








/* VERSION TABLET VERTICALE 768-1023px*/
@media (min-width: 768px) {
    /****** FOR ALL ******/
    * {
        font-size: 16px;
        line-height: 25px;
    }
    h1 {
        font-size: 72px;
    }
    h2 {
        font-size: 50px;
    }
    h3 {
        font-size: 35px;
        margin-bottom: 25px;
    }
    .section {
        padding: 40px 30px;
    }
    .section-title {
        margin-bottom: 32px;
        text-align: start;
    }

    /****** HEADER ******/

    /****** MAIN ******/

    /****** FOOTER ******/
}





/* VERSION TABLET HORIZONTALE 1024-1219px*/
@media (min-width: 1024px) {
    /****** FOR ALL ******/
    * {
        font-size: 20px;
        line-height: 30px;
    }
    h1 {
        font-size: 82px;
    }
    h2 {
        font-size: 58px;
    }
    h3 {
        font-size: 42px;
        margin-bottom: 35px;
    }
    .section {
        padding: 48px 40px;
    }

    /****** HEADER ******/
    /* Nav mobile */
    .navbar-toggler {
        display: none;
    }

    /* Nav desk */
    .nav-desktop {
        display: inherit;
    }
    .nav-desktop ul {
        display: flex;
        flex-direction: row;
        gap: 10px;
        list-style: none;
    }

    /****** MAIN ******/

    /****** FOOTER ******/
}






/* VERSION COMPUTER 1220-infini px*/
@media (min-width: 1220px) {
    /****** FOR ALL ******/
    .section {
        padding: 52px 46px;
    }

    /****** HEADER ******/

    /****** MAIN ******/

    /****** FOOTER ******/
}